.carousel {
    margin-top: 20px;      /* desce o carrossel */
    width: 260px;          /* largura menor */
    height: 150px;         /* altura menor */
    border-radius: 12px;   /* opcional */
    overflow: hidden;      /* mantém imagem dentro */
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;     /* faz a imagem preencher sem distorcer */
}
.card .carousel {
    margin-top: 25px;
    width: 90%;         /* adapta ao card */
    height: 180px;
}
